{% extends "html/base.html" %}

{% block the_body %}

<form action='{{ Navigator.Email.PasswordReset }}' method='POST'>
    <table width="60%" align="center">
        <tr>
            <td>
                <table class="CSSForm">
                    <tr>
                        <td colspan="4">
                            <h1>{{ title }}</h1>
                        </td>
                    </tr>
                    <tr>
                        <td width="25%" rowspan="2" />
                        <td width="25%" align="right">User-id:</td>
                        <td width="25%"><input type='text' name='userid'></td>
                        <td width="25%" rowspan="2" />
                    </tr>
                    <tr align="center">
                        <td colspan="2">
                            <input type='submit' value='Send'>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</form>

{% endblock %}
